/.htaccess
/.build/*
/App/Configuration/private/*
/logs/*
/Imports/data/*
/vendor/*
App/Resources/*
Resources/*
Documentation/*
Vendor/*
Imports/*
/App/Logs/*
*.zip
*.7z
*.tar
*.tar.gz
*.tgz
*.rarApp/Configuration/google.txt
